<h1>ボード一覧</h1>
<table>
    <thead>
        <tr>
            <th>ボード名</th>
        </tr>
    </thead>
    <tbody>
    <% @boards.each do |board| %>
        <tr>
            <td>Name：<%= board.name %></td>
            <td>説明：<%= board.description %></td>
            <%# method: delete を使用する場合、rails-ujs などを使用するか、button_to で代替え, link_to だと GET使えと怒られる %>
            <td><%= button_to 'Delete', "/boards/#{board.id}", :method => :delete %></td>
        </tr>
    <% end %>
    </tbody>
</table>

<h2>ボードの追加</h2>
<%= form_with model: @board do |f| %>
    <%# nameの項目 %>
    <div>
        <%= f.label :name %><br>
        <%= f.text_field :name %>
    </div>
    <%# descriptionの項目 %>
    <div>
        <%= f.label :description %><br>
        <%= f.text_area :description %>
    </div>
    <%# 登録ボタン %>
    <div><%= f.submit %></div>
<% end %>
